[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=NL
ST=Zuid-holland
L=Leiden
O=End Point
OU=Testing Domain
emailAddress=administrator@techniek-team.nl
CN = localhost
